*{
    margin:0;
    padding: 0;
    
}
body{
    height: 100vh;
}
.main-1{
    background-color: red;
    height: 25%;
}
.main-2{
    background-color: rgb(161, 116, 116);
    height: 150px;
   
}
.boxs{
    background-color: black;
    height: 100px;
   
}
.box{
    background-color: rgb(194, 213, 17);
    height: 70px;
   
}
.top{
    background-color: green;
    height: 20px;
}
.butom{
    background-color:blue;
   height: 40px;
}
